# Gradle
.gradle/
build/
run/
out/
*.class

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
bin/
*.launch

# Toolchain / misc
hs_err_*.log
replay_*.log
*.hprof
*.jfr
*.DS_Store

# Local maven repo output
mcmodsrepo/
